# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.lock
coverage/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local

# Logs
*.log
